#!/bin/bash

exec curl -s -L http://127.0.0.1:2379/v2/keys/{{ flannel_etcd_key }}/config -XPUT -d value='{"Network": "{{ kube_overlay_ip }}/{{ kube_overlay_prefix }}", "SubnetLen": 24, "Backend": {"Type": "vxlan"}}'
